<header class="site-header">
      <div class="wrapper site-header__wrapper">
        <%= link_to image_tag("logo.png", class:"logo"), root_path %>
        <nav class="nav">
          <% if user_signed_in? %>
          <ul class="nav__wrapper">
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "nav__item" %></li>
        <li><%= link_to current_user.nickname, "#", class: "nav__item" %></li>
    <% else %> 
        <li><%= link_to 'login', new_user_session_path, class: "nav__item" %></li>
        <li><%= link_to 'sign up', new_user_registration_path, class: "nav__item" %></li>
        </ul>
    <% end %>
        </nav>
      </div>
    </header>

    <div class='main'>

      <div class="contents">
        <div class="first-view">
        <p >Everything is up to you</p>
        </div>
        <div class="upper-content">
        </div>
        <div class="middle-content">
        </div>
      </div>

        <div class="function">
          <div class = "runway_catch">
            <%= link_to image_tag("runway.jpeg", class:"image_runway"), posts_path %>
            <p>Runway!</p>
          </div>
          <div class = "wardrobe_catch">
            <%= link_to image_tag("wardrobe.jpeg", class:"image_wardrobe"), clothes_path %>
            <p>Wardrobe!</p>
          </div>
        </div>
    </div>
</html>