<div class = "edit_content">
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <%= form_with model: @clothe, local: true do |f| %>
  <div class="image_content">
    <%= image_tag @clothe.image ,class:"img-thumbnail" %>
  </div>
    <div class="offset-md-4 col-md-4 text-left ">
      <div class="form-log"></br>
          <h4 class = 'title-text'>Edit</h4>
          <%= render 'shared/error_messages', model: f.object %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {:include_blank => "Category"}, {class:"form-control input-sm chat-input"}) %>
          <%= f.text_area :description, class: "form-control input-sm chat-input", placeholder:"description",maxlength:"1000" %>
        <div class = "wrapper">
          <span class="new_clothe_btn">
          <%=link_to 'Back', clothe_path(@clothe.id), class:"btn btn-danger btn-md" %>
          <%= f.submit "Save" ,class:"btn btn-danger btn-md" %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>