<div class = "clothe-header">
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <%= link_to( new_clothe_path, class: 'post-btn') do %>
    <div class='new-save-link'>New save</div>
  <% end %>
  <div class = "category-content">
    <div class = "category-search-form">
<%= search_form_for @search, url: clothes_path do |f| %>
      <div class = "category-search">
      <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, include_blank: "Category search", class: "cate_btn" %>
     <%= f.submit "Search", class: "btn btn-secondary" %>
     </div>
<% end %>
    </div>
  </div>
</div>

<div class = "clothes-all">
  <div class='clothe-img-content'>
  <% @clothes.each do |clothe| %>
      <%= link_to clothe_path(clothe.id) do %>
      <%= image_tag(clothe.image , class: "img-thumbnail")%>
    <% end %>
  <% end %>
  </div>
</div>