<%= link_to image_tag("logo.png", class:"logo"), root_path %>



<%= form_with model: @clothe, local: true do |f| %>

<div class="content_main">
  <div class = "almost-title">
    New save
  </div>
    <div class="clothe-form">
      <div class = "clothe-things">
        Please&nbsp;
        <p>
          upload new item
        </p>
      </div>
      <%= f.file_field :image, class:"image-input-form",id:"clothe-image" %>
    </div>
    <div class="clothe-form">
      <div class="clothe-things">
        Category
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"clothe-input-form", id:"clothe-category"}) %>
      </div>
      <div class = "clothe-form">
        <div class="clothe-things">
        Description
      </div>
      <%= f.text_area :description, class:"clothe-input-form", id:"clothe-info", placeholder:"Clothes details" ,maxlength:"1000" %>
    </div> 
    <div class="almost-button">
      <%= f.submit "new save" ,class:"almost-letter" %>
      </div>
      <%=link_to 'Back', clothes_path, class:"clothe-button" %>
    
</div>
<% end %>
