<div class = "show_content">
<%= link_to image_tag("logo.png", class:"logo"), root_path %>
<div class="image_content">
  <%= image_tag @clothe.image ,class:"img-thumbnail" %>
</div>

<div class = content_range>
<div class="content_cate">
  <p>Category</p>
  <p><%= @clothe.category.name %></p>
  </div>
  <div class="content_desc">
  <p>Description</p>
  <p><%= @clothe.description %></p>
  </div>
</div>

  <div class="clothe_manage">
    <div class = "edit_space">
      <% if current_user == @clothe.user%>
      <%= link_to 'Back', clothes_path, class: :clothe_btn %>
      <%= link_to "Edit", edit_clothe_path(@clothe.id), class: :clothe_btn %>
      <%= link_to "Delete", clothe_path(@clothe.id), method: :delete, class: :clothe_btn %>
      <% else %>
      <%= link_to 'Back', clothes_path, class: :back_btn %>
      <% end %>
      </div>
  </div>
</div>
