<div class = "signin_back_image">
  <%= form_with model: @user, url: user_registration_path, class: "sign-up-form", local: true do |f| %>
  <%#= render 'shared/error_messages', model: f.object %>
    <div class="container">
      <div class="row">
        <div class = "offset-md-6 col-md-4 text-left">
          <div class="form-log"></br>
            <h4 class = 'title-text'>Sign in</h4>
            <%= f.email_field :email, class:"form-control input-sm chat-input", placeholder:"Email" %>
            <%= f.password_field :password, class:"form-control input-sm chat-input", placeholder:"Password" %>
            <div class='wrapper'>
              <span class = "log-btn">
              <%= f.submit "Sign in",class:"btn btn-danger btn-md" %>
              <%=link_to 'Back', root_path, class:"btn btn-danger btn-md" %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>