<div class = "post_edit">
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>
  <%= form_with model: @post, local: true do |f| %>
  <div class="image_content">
    <%= image_tag @post.image ,class:"img-thumbnail" %>
  </div>
    <div class="offset-md-4 col-md-4 text-left ">
      <div class="form-log"></br>
          <h4 class = 'title-text'>Edit</h4>
          <%= f.collection_select(:season_id, Season.all, :id, :name, {:include_blank => "Season"}, {class:"form-control input-sm chat-input"}) %>
          <%= f.text_area :detail, class: "form-control input-sm chat-input", placeholder:"detail",maxlength:"1000" %>
        <div class = "wrapper">
          <span class="new_clothe_btn">
          <%=link_to 'Back', post_path(@post.id), class:"btn btn-danger btn-md" %>
          <%= f.submit "Save" ,class:"btn btn-danger btn-md" %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>