<div class = "new_post_back_image">
<%= form_with model: @post, local: true do |f| %>
  <div class="container">
    <div class = "row ">
      <div class="offset-md-2 col-md-5 text-left ">
        <div class="form-log"></br>
          <h4 class = 'title-text'>New save</h4>
          <label class = "form-control input-sm chat-input" >
          <%= f.file_field :image, class: "new_clothe_image" %>
          </label>
          <%= f.collection_select(:season_id, Season.all, :id, :name, {:include_blank => "Season"}, {class:"form-control input-sm chat-input"}) %>
          <%= f.text_area :detail, class: "form-control input-sm chat-input", placeholder:"detail",maxlength:"1000" %>
          <div class = "wrapper">
            <span class="new_clothe_btn">
            <%=link_to 'Back', posts_path, class:"btn btn-danger btn-md" %>
            <%= f.submit "New save" ,class:"btn btn-danger btn-md" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
